body {
    background: #0d1117;
    color: white;
    font-family: Arial;
    padding: 10px;
}
h1 {
    color: #00ff88;
    text-align: center;
}
#wallet-balance {
    background: #161b22;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}
button {
    background: #00ff88;
    color: black;
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
    width: 100%;
}
button:hover {
    background: #00cc70;
}
